<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TCSA.AI.Blazor.IdProcessing.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />

    <!-- Bootstrap Bundle JS (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-58RmYnsIOtjf83Vp3hA2KnOKpY4+Niw0vLaGQrJ1tnsROhTEFTRjwgu1W70Fw72A"
            crossorigin="anonymous">
    </script>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
